* {
  font-family: "Mulish";
}

.link {
  display: inline-block;
  color: #d32c32;
  transition: all 0.3s ease;
  position: relative;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-weight: 600;
}
.link:hover::after {
  content: "→";
  position: absolute;
  right: -110%;
  font-weight: 700;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 3s ease;
}

/* Margin Padding Utilities */
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

/* Color Utilities */
.bg-primary {
  background: transparent linear-gradient(90deg, #d32c32 0%, #ff464c 100%) 0% 0% no-repeat padding-box;
}
