* {
  font-family: "Mulish";
}

.link {
  display: inline-block;
  color: #d32c32;
  transition: all 0.3s ease;
  position: relative;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-weight: 600;
}
.link:hover::after {
  content: "→";
  position: absolute;
  right: -110%;
  font-weight: 700;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 3s ease;
}

/* Margin Padding Utilities */
.wrapper {
  @apply mx-4 lg:max-w-7xl lg:mx-auto;
}

/* Color Utilities */
.bg-primary {
  background: transparent linear-gradient(90deg, #d32c32 0%, #ff464c 100%) 0% 0% no-repeat padding-box;
}

/* Input Fields */
label {
  @apply block mb-2 text-sm font-bold text-gray-700;
}
input,
textarea {
  @apply w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:ring focus:ring-primary/60 focus:ring-offset-1;
}

.footer-bg {
  background-image: url("../images/footer.jpg");
  background-repeat: no-repeat;

  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}
